<a href="https://colab.research.google.com/github/erolca/3-Phase-Controller/blob/master/Untitled1_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numList = [2000, 2003, 2005, 2006]
stringList = ["Essential", "Python", "Code"]
mixedList = [1, 2, "three", 4]
subList = ["Python", "Phrasebook", ["Copyright", 2006]]
listList = [numList, stringList, mixedList, subList]

In [ ]:
print(numList)

[2000, 2003, 2005, 2006]

In [ ]:
print(type(mixedList))

<class 'list'>

In [ ]:
print(numList)
print(' \n');
print(type(numList))

[2000, 2003, 2005, 2006]


<class 'list'>

In [ ]:
#!/usr/bin/python3
counter =100 # a integer assigment
miles=1000.0 #A floating point
name="john" # astring

print(counter)
print( miles)
print(name)

100
1000.0
john

Python *Strings*

In [ ]:
str ="HelloWorld"
print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

HelloWorld
H
llo
lloWorld
HelloWorldHelloWorld
HelloWorldTEST

Python Lists

In [ ]:
#!/usr/bin/python3

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

Python Tuples

In [ ]:
#!/usr/bin/python3

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

**unpack a collection**
    If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [ ]:
fruits =["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Global Variables

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
import random
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)
print(random.randrange(1, 10))

Python is fantastic
1

In [ ]:
#String Length
a = "Hello, World!"
print(len(a))
#Check String
txt = "The best things in life are free!"
print("free" in txt)

13
True

In [ ]:
a=5
a+=6
print(a)
b=7
c=a!=b #If values of two operands are not equal, then condition becomes true.
print(c)

11
True

# Yeni B繹l羹m